@import "tailwindcss";

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Global Theme */
:root {

  --primary: #2563EB;
  --secondary: #7C3AED;
  --accent: #06B6D4;

  --background: #F8FAFC;
  --card: #FFFFFF;

  --text: #111827;
  --text-light: #6B7280;

}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{

  font-family:"Poppins",sans-serif;

  background:var(--background);

  color:var(--text);

  overflow-x:hidden;

  min-height:100vh;

}

/* Smooth transition */

button,
a,
input,
textarea{

  transition:all .3s ease;

}

/* Selection */

::selection{

  background:var(--primary);

  color:white;

}

/* Scrollbar */

::-webkit-scrollbar{

  width:8px;

}

::-webkit-scrollbar-track{

  background:#E5E7EB;

}

::-webkit-scrollbar-thumb{

  background:linear-gradient(
    #2563EB,
    #7C3AED
  );

  border-radius:20px;

}

::-webkit-scrollbar-thumb:hover{

  background:#2563EB;

}